.App {
  font-family: sans-serif;
  max-width: 1920px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-panel {
  position: sticky;
  top: 20px;
  width: 25%;
  margin-right: 25px;
}

.right-panel {
  width: 100%;
}

#search {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

#list {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 85vh;
}

#list li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#list li:hover {
  background-color: #eee;
}

.review {
  margin: 25px;
}